.book-display .display-box .item#noA1 {
  bottom: 17.4%;
  left: 33.5%;
}

@media screen and (max-width: 480px) {
  .book-display .display-box .item#noA1 {
    bottom: 18.4%;
    left: 33.5%;
  }
}

.book-display .display-box .item#noA2 {
  bottom: 17.4%;
  left: 39.8%;
}

@media screen and (max-width: 480px) {
  .book-display .display-box .item#noA2 {
    bottom: 18.4%;
    left: 39.8%;
  }
}

.book-display .display-box .item#noA3 {
  bottom: 17.4%;
  left: 49.3%;
}

@media screen and (max-width: 480px) {
  .book-display .display-box .item#noA3 {
    bottom: 18.4%;
    left: 49.3%;
  }
}

.book-display .display-box .item#noA4 {
  bottom: 17.4%;
  left: 55.4%;
}

@media screen and (max-width: 480px) {
  .book-display .display-box .item#noA4 {
    bottom: 18.4%;
    left: 55.4%;
  }
}

.book-display .display-box .item#noA5 {
  bottom: 17.4%;
  left: 61.8%;
}

@media screen and (max-width: 480px) {
  .book-display .display-box .item#noA5 {
    bottom: 18.4%;
    left: 61.8%;
  }
}

.book-display .display-box .item#noA6 {
  bottom: 17.4%;
  left: 67.9%;
}

@media screen and (max-width: 480px) {
  .book-display .display-box .item#noA6 {
    bottom: 18.4%;
    left: 67.9%;
  }
}

.book-display .display-box .item#noA7 {
  bottom: 17.4%;
  left: 74.1%;
}

@media screen and (max-width: 480px) {
  .book-display .display-box .item#noA7 {
    bottom: 18.4%;
    left: 74.1%;
  }
}

.book-display .display-box .item#noA8 {
  bottom: 17.4%;
  left: 80.3%;
}

@media screen and (max-width: 480px) {
  .book-display .display-box .item#noA8 {
    bottom: 18.4%;
    left: 80.3%;
  }
}

.book-display .display-box .item#noA9 {
  bottom: 65.6%;
  left: 39.7%;
}

@media screen and (max-width: 480px) {
  .book-display .display-box .item#noA9 {
    bottom: 66.6%;
    left: 39.7%;
  }
}

.book-display .display-box .item#noA10 {
  bottom: 65.6%;
  left: 49.4%;
}

@media screen and (max-width: 480px) {
  .book-display .display-box .item#noA10 {
    bottom: 66.6%;
    left: 49.4%;
  }
}

.book-display .display-box .item#noA11 {
  bottom: 56.8%;
  left: 39.7%;
}

@media screen and (max-width: 480px) {
  .book-display .display-box .item#noA11 {
    bottom: 57.8%;
    left: 39.7%;
  }
}

.book-display .display-box .item#noA12 {
  bottom: 56.8%;
  left: 49.4%;
}

@media screen and (max-width: 480px) {
  .book-display .display-box .item#noA12 {
    bottom: 57.8%;
    left: 49.4%;
  }
}

.book-display .display-box .item#noA13 {
  bottom: 35.2%;
  left: 39.7%;
}

@media screen and (max-width: 480px) {
  .book-display .display-box .item#noA13 {
    bottom: 36.2%;
    left: 39.7%;
  }
}

.book-display .display-box .item#noA14 {
  bottom: 35.2%;
  left: 49.4%;
}

@media screen and (max-width: 480px) {
  .book-display .display-box .item#noA14 {
    bottom: 36.2%;
    left: 49.4%;
  }
}

.book-display .display-box .item#noA15 {
  bottom: 26.5%;
  left: 39.7%;
}

@media screen and (max-width: 480px) {
  .book-display .display-box .item#noA15 {
    bottom: 27.5%;
    left: 39.7%;
  }
}

.book-display .display-box .item#noA16 {
  bottom: 26.5%;
  left: 49.4%;
}

@media screen and (max-width: 480px) {
  .book-display .display-box .item#noA16 {
    bottom: 27.5%;
    left: 49.4%;
  }
}

.book-display .display-box .item#noT1 {
  bottom: 66%;
  left: 89%;
}

.book-display .display-box .item#noT2 {
  bottom: 66%;
  left: 83.4%;
}

.book-display .display-box .item#noT3 {
  bottom: 66%;
  left: 77.8%;
}

.book-display .display-box .item#noT4 {
  bottom: 66%;
  left: 72.1%;
}

.book-display .display-box .item#noT5 {
  bottom: 59%;
  left: 89%;
}

.book-display .display-box .item#noT6 {
  bottom: 59%;
  left: 83.4%;
}

.book-display .display-box .item#noT7 {
  bottom: 59%;
  left: 77.8%;
}

.book-display .display-box .item#noT8 {
  bottom: 59%;
  left: 72.1%;
}

.book-display .display-box .item#noT9 {
  bottom: 52%;
  left: 89%;
}

.book-display .display-box .item#noT10 {
  bottom: 52%;
  left: 83.4%;
}

.book-display .display-box .item#noT11 {
  bottom: 52%;
  left: 77.8%;
}

.book-display .display-box .item#noT12 {
  bottom: 52%;
  left: 72.1%;
}

.book-display .display-box .item#noT13 {
  bottom: 41.2%;
  left: 89%;
}

.book-display .display-box .item#noT14 {
  bottom: 41.2%;
  left: 83.4%;
}

.book-display .display-box .item#noT15 {
  bottom: 41.2%;
  left: 77.8%;
}

.book-display .display-box .item#noT16 {
  bottom: 41.2%;
  left: 72.1%;
}

.book-display .display-box .item#noT17 {
  bottom: 34.2%;
  left: 89%;
}

.book-display .display-box .item#noT18 {
  bottom: 34.2%;
  left: 83.4%;
}

.book-display .display-box .item#noT19 {
  bottom: 34.2%;
  left: 77.8%;
}

.book-display .display-box .item#noT20 {
  bottom: 34.2%;
  left: 72.1%;
}

.book-display .display-box .item#noT21 {
  bottom: 27.2%;
  left: 83.4%;
}

.book-display .display-box .item#noT22 {
  bottom: 27.2%;
  left: 77.8%;
}

.book-display .display-box .item#noT23 {
  bottom: 27.2%;
  left: 72.1%;
}
/*# sourceMappingURL=cssDisplayTable.css.map */