// ----------------- @variable ---------------- //
$main_color:#000;
$second_color:#fff;
$holder_color: #757575;

$mobile:480px;
$tablet:768px;
$ipad:810px;
$ipadpro-1:1023px;
$ipadpro:1024px;
$ipadpro1:1025px;
$laptop:1366px;
$pc:1600px;

// ------------------ @font --------------------- //
@font-face{
    font-family: prompt;
    src: url(/css/font/Prompt-Regular.ttf);
}
@font-face{
    font-family: promptLight;
    src: url(/css/font/Prompt-Light.ttf);
}
@font-face{
    font-family: promptSemiBold;
    src: url(/css/font/Prompt-SemiBold.ttf);
}

// ----------------- @class used ---------------- //


// --------------------- @style --------------------- //
*,*:before,*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
html{
    font-size: 20px;
    font-family: prompt;
    color: $main_color;
}
img{
    max-width: 100%;
    height: auto;
}
input,select,button{
    &:focus{
        outline: none;
    }
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

.container{
    width: 100%;
    margin: 0 auto;

    @media screen and (min-width:$ipadpro) {
        width: 85%;
    }
}

.head-nav{
    display: grid;
    grid-template-columns: 20% 80%;
    position: absolute;
    z-index: 2;
    background: #00000047;
    width: 100%;

    @media screen and (min-width:$laptop){
        width: 85%;
        height: 60px;
        top: 0%;
        margin-top: 30px;
        border-radius: 50px;
        grid-template-columns: 30% 70%;
    }
    @media screen and (min-width:$ipadpro) and (max-width:1365px){
        grid-template-columns: 25% 75%;
    }

    .left{
        .logo{
            figure{
                display: flex;

                img{
                    border-radius: 50%;
                }
            }

            @media screen and (min-width:$ipadpro) {
                position: absolute;
                width: 100px;
                top: -30%;
                left: 0%;
            }
            
        }
    }

    .right{
        display: grid;
        grid-template-columns: 80% 20%;

        @media screen and (min-width:$ipadpro) {
            grid-template-columns: 70% 30%;
            grid-template-areas: 'menuhead search';
        }

        .menu{
            @media screen and (max-width:$ipad) {
                display: none;
                position: fixed;
                width: 100%;
                height: 100%;
                z-index: 12;
                background: #fff;
                top: 0;
                left: 0;
            }

            @media screen and (min-width:$ipadpro) {
                display: block;
                grid-area: menuhead;
                position: relative;
            }

            ul{
                text-align: center;
                margin-top: 10%;

                @media screen and (min-width:$ipadpro) {
                    display: flex;
                    height: 100%;
                    align-items: center;
                    padding-top: 16px;
                    text-align: unset;
                    margin: unset;
                    justify-content: flex-end;
                } 

                li{
                    margin: 5% 0;

                    @media screen and (min-width:$ipadpro) {
                        width: 18%;
                        text-align: center;
                        margin: unset;
                    }
                    @media screen and (min-width:$laptop) and (max-width:1599px) {
                        width: 19%;
                    }

                    a{
                        color: $main_color;

                        @media screen and (min-width:$ipadpro){
                            color: $second_color;
                            font-family: promptLight;
                            font-size: .7em;

                            &:hover{
                                color: $main_color;
                                background: $second_color;
                                border-radius: 20px 20px 0 0;
                                padding: 0% 10%;
                                padding-top: 5%;
                                transition: all .2s;
                            }
                        }
                        @media screen and (min-width:$ipadpro) and (max-width:1365px){
                            font-size: .8em;
                        }
                    }
                    .selected{
                        color: $main_color;
                        background: $second_color;
                        border-radius: 20px 20px 0 0;
                        padding: 0% 10%;
                        padding-top: 5%;
                    }
                }
                .closemenu{
                    svg{
                        font-size: 1.5em;
                    }
                    @media screen and (min-width:$ipadpro) {
                        display: none;
                    }
                }
                .contact-nav{
                    margin-top: 30%;

                    .social-icon{
                        display: flex;
                        justify-content: space-evenly;
                        width: 80%;
                        margin: 0 auto;
                        margin-top: 5%;

                        svg{
                            font-size: 2em;
                        }
                    }

                    @media screen and (min-width:$ipadpro) {
                        display: none;
                    }
                }
            }
            .bottomline{
                @media screen and (min-width:$ipadpro) {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    background: #fff;
                    height: 10px;
                    border-radius: 20px 20px 0 0;
                }
            }
        }

        .searchq{
            display: flex;
            justify-content: center;
            align-items: center;

            @media screen and (min-width:$ipadpro) {
                grid-area: search;
            }

            .box-search{
                position: relative;
                width: 75%;

                input{
                    width: 100%;
                    height: 35px;
                    border: 2px solid $second_color;
                    border-radius: 10px;
                    padding: 0 10% 0 3%;
                    background: #0000;

                    &::placeholder {
                        color: #ffffffc7;
                    }

                    &:focus{
                        background: #ffffff86;

                        &::placeholder {
                            color: #000;
                        }
                    }
                    
                }
                svg{
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    margin-right: 5%;
                    color: $second_color;
                    cursor: pointer;
                }
            }
        }

        .hamburger{
            display: none;

            @media screen and (max-width:$ipadpro-1) {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            svg{
                color: $second_color;
            }
        }
    }
}

header{
    .slideHead{
        @media screen and (min-width:$ipadpro) {
            height: 650px;
        }
    }
}

.booking-zone{
    position: relative;
    top: -10px;
    z-index: 1;
    border-radius: 15px;
    border: 1px solid lightgray;

    @media screen and (min-width:$ipadpro) {
        top: -30px;
    }

    .book-top{
        .selectType{
            background-color: #c7c7c7;
            height: 50px;
            border-radius: 10px;

            @media screen and (min-width:481px) and (max-width:$ipad) {
                height: 100px;
            }
            @media screen and (min-width:$ipadpro) {
                height: 150px;
            }

            .button-mobile{
                display: none;
                @media screen and (max-width:$ipadpro-1) {
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;

                    label{
                        font-size: 0.5em;
                    }
                    .arch,.table{
                        width: 30%;
                        text-align: center;
                        z-index: 2;

                        @media screen and (max-width:$mobile) {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 100%;
                        }               

                        img{
                            width: 35%;

                            @media screen and (min-width:481px) and (max-width:$ipad) {
                                width: 20%;
                            }
                        }
                    }
                    .active{
                        color: $second_color;
                    }
                    .activeB{
                        background-color: #353535;
                        border-radius: 30px;
                        transform: translateX(-80%);
                        transition: .5s;
                        position: absolute;
                        width: 20%;
                        height: 80%;
                        z-index: 1;
                    }  
                }

                &:after{
                    content: '';
                    position: absolute;
                    width: 49%;
                    height: 81%;
                    border: 2px solid #9a9a9a;
                    border-radius: 30px;
                    left: 24%;
                }
            }
            .box-button{
                display: none;

                @media screen and (min-width:$ipadpro) {
                    display: grid;
                    grid-template-columns: 50% 50%;
                    align-items: center;
                    height: 100%;
                    text-align: center;
                    padding: 0 20%;
                    position: relative;
                }

                .arch,.table{
                    width: 60%;
                    margin: 0 auto;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    z-index: 2;

                    .button{
                        display: flex;
                        width: 200px;
                        height: 40%;
                        position: relative;

                        img{
                            position: absolute;
                            width: 40px;
                            top: 50%;
                            transform: translateY(-50%);
                            left: 10%;
                            cursor: pointer;

                            @media screen and (min-width:$ipadpro) and (max-width:1365px) {
                                width: 25px;
                            }
                        }

                        button{
                            width: 100%;
                            background-color: $main_color;
                            color: $second_color;
                            border: unset;
                            border-radius: 40px;
                            font-size: .9em;
                            font-family: promptLight;
                            text-align: end;
                            padding-right: 10%;
                            cursor: pointer;

                            @media screen and (min-width:$ipadpro) and (max-width:1365px) {
                                font-size: .7em;
                            }
                        }
                    }
                }
                .arch{
                    justify-content: flex-end; 
                }
                .table{
                    justify-content: start;
                }
                .bgEffect{
                    z-index: 1;
                    position: absolute;
                    width: 24%;
                    height: 90%;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-100%);
                    background-color: $second_color;
                    border-radius: 30px 30px 0 0;
                    transition: .5s;

                    @media screen and (min-width:$ipadpro) and (max-width:1365px) {
                        width: 30%;
                    }

                    &:before{
                        content: '';
                        width: 40px;
                        height: 30px;
                        position: absolute;
                        bottom: -8%;
                        border: 10px solid #fff;
                        right: -30px;
                        border-right: 0;
                        border-top: 0;
                        border-radius: 0 0 0 30px;
                    }
                    &:after{
                        content: '';
                        width: 40px;
                        height: 30px;
                        position: absolute;
                        bottom: -8%;
                        border: 10px solid #fff;
                        left: -30px;
                        border-left: 0;
                        border-top: 0;
                        border-radius: 0 0 30px 0;
                    }
                }
            }
        }

        .head-text{
            width: 97%;
            margin: 1% auto;
        }

        .formBook{
            @media screen and (min-width:$ipadpro) {
                display: grid;
                grid-template-columns: 80% 20%;
            }

            .input-zone{
                display: grid;
                grid-template-columns: repeat(2,49%);
                grid-gap: 1%;
                grid-row-gap: 5px;
                padding: 0 2%;

                @media screen and (min-width:$laptop) {
                    grid-template-columns: repeat(4,24%);
                }
    
                .inputBox{
                    label{
                        font-size: 0.8em;
                    }
                    .input{
                        position: relative;
                        height: 35px;
    
                        input,select{
                            width: 100%;
                            height: 100%;
                            padding-left: 15%;
                        }
                        svg{
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            margin-left: 3%;
                        }
    
                        
                        
                    }
    
                    
                }
            }
            .Table{
                display: none;
            }
            .submit-button{
                @media screen and (max-width:$ipadpro-1) {
                    text-align: center;
                    padding: 3% 0;
                }
                @media screen and (min-width:$ipadpro) {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
    
                button{
                    border: unset;
                    background: #000;
                    color: #fff;
                    font-size: 1em;
                    border-radius: 40px;
                    width: 80px;
                    height: 80px;
                    
                    @media screen and (min-width:$ipadpro) {
                        width: 140px;
                        height: 140px;
                        border-radius: 70px;
                        cursor: pointer;
                    }
                }
            }
        }

        .ps{
            p{
                color: red;
                font-size: 0.5em;
                margin-bottom: 2%;

                @media screen and (min-width:$ipadpro) {
                    margin: 1% 0;
                    font-size: .8em;
                }
            }
        }
    }

    .book-display{
        background-color: #c7c7c7;
        //height: 500px;
        border-radius: 15px;

        .display-box{
            padding: 3% 0;
            display: flex;
            justify-content: center;

            figure{
              position: relative;
                
              img{

              }

              .item{
                position: absolute;
                width: 6%;
                height: 8%;
                text-align: center;
                cursor: pointer;

                .num-table{
                  height: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  padding-top: 15%;

                  label{
                    color: $second_color;
                    font-size: 0.7em;
                    cursor: pointer;

                    @media screen and (max-width:$mobile) {
                      font-size: 0.5em;
                    }
                  }
                }

                // คำสั่งHover
                &:hover .box-hover{
                  @media screen and (min-width:$laptop) {
                    display: block;
                  }
                }
                .box-hover{
                  display: none;
                  position: absolute;
                  height: 100%;
                  background-color: $second_color;
                  top: -245px;
                  left: 50%;
                  width: 200px;
                  height: 250px;
                  border-radius: 20px;
                  z-index: 1;

                  .slide-hover{
                    height: 80%;

                    img{
                      object-fit: cover;
                      border-radius: 20px 20px 0 0;
                    }
                    .owl-dots{
                      bottom: 0;
                    }
                    
                  }

                  span{
                    font-size: .6em;
                  }
                }
              }
              

              .selectedA{
                background-image: url(/img/display/check.jpg);
                background-size: contain;
                background-repeat: no-repeat;
              }
              .selectedT{
                background-image: url(/img/display/check-table.jpg);
                background-size: contain;
                background-repeat: no-repeat;
              }

              .disableA{
                background-image: url(/img/display/icon-home-disable.jpg);
                background-size: contain;
                background-repeat: no-repeat;
                cursor: default;

                .num-table{
                  label{
                    cursor: default;
                  }
                }
                &:hover .box-hover{
                  display: none;
                }
              }
              .disableT{
                background-image: url(/img/display/icon-table-disable.jpg);
                background-size: contain;
                background-repeat: no-repeat;
                cursor: default;

                .num-table{
                  label{
                    cursor: default;
                  }
                }
                &:hover .box-hover{
                  display: none;
                }
              }
              
            }
        }
    }
}

.owl-carousel{
    .owl-stage-outer{
        height: 100%;
        .owl-stage{
            height: 100%;
            .owl-item{
                height: 100%;

                img{
                    @media screen and (min-width:$ipadpro) {
                        height: 100%;
                        border-radius: 0 0 30px 30px;
                    }
                }
            }
        }
    }

    .owl-dots{
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
    }
}