<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>จ้วดคาเฟ่ JaudCafe</title>
    <link rel="stylesheet" href="/css/jaudStyle.min.css?v=4.2.1">
    <link rel="stylesheet" href="/plugin/OwlCarousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/plugin/OwlCarousel/dist/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="/css/selectMulti.css">
    <link rel="stylesheet" href="/css/cssDisplayTable.min.css?v=2">
    <script src="/plugin/fontawesome/all.min.js"></script>
    <script src="/js/jquery/jquery-3.5.1.min.js"></script>
</head>
<body>
    <nav class="container">
        <!-- เมนูNavหัวเว็บ -->
        <div class="head-nav">
            <!-- เมนูด้านซ้ายเป็นโลโก้ -->
            <div class="left">
                <div class="logo">
                    <figure><img src="/img/logo/logo.png" alt=""></figure>
                </div>
            </div>

            <!-- เมนูด้านขวาเป็นเมนูและช่องค้นหาด้วยเบอร์ -->
            <div class="right">
                <div class="menu">
                    <ul>
                        <li><a href="" class="selected">หน้าแรก</a></li>
                        <li><a href="">แกลอรี่</a></li>
                        <li><a href="">ยืนยันการจอง</a></li>
                        <li><a href="">เกี่ยวกับเรา</a></li>
                        <li><a href="">ติดต่อเรา</a></li>
                        <li class="closemenu"><i class="fas fa-times"></i></li>

                        <div class="contact-nav">
                            <div class="tel"><span>โทร: 091-0634589</span></div>
                            <div class="social-icon">
                                <i class="fab fa-line"></i>
                                <i class="fab fa-facebook-f"></i>
                                <i class="fab fa-twitter"></i>
                            </div>
                        </div>
                    </ul>
                    <div class="bottomline"></div>
                </div>

                <div class="searchq">
                    <div class="box-search">
                        <input type="tel" maxlength="10" id="searchq" name="searchq" placeholder="ค้นหาการจองด้วย เบอร์">
                        <i class="fas fa-book-open"></i>
                    </div>
                </div>

                <div class="hamburger"><i class="fas fa-bars"></i></div>
            </div>

            <!-- เบอร์ติดต่อและโซเชียวด้านบนเมนู -->
            <div class="tel-social">
                <div class="tel"><span>โทร: 091-0634589</span></div>
                <div class="social">
                    <a href=""><i class="fab fa-line"></i></a>
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </nav>

    <header>
        <!-- สไลด์หัวเว็บ -->
        <div class="slideHead owl-carousel owl-theme owl-loaded">
            <img src="/img/slide1.jpg" alt="">
            <img src="/img/slide2.jpg" alt="">
            <img src="/img/slide3.jpg" alt="">
            <img src="/img/slide4.jpg" alt="">
            <img src="/img/slide5.jpg" alt="">
        </div>
    </header>

    <div class="contact-me container">
        <div class="head-text">
            <div class="title"><h1>ติดต่อเรา</h1></div>
            <div class="description">
                <p>
                    มาแซ่บนัวร์กันที่ครัวจ้วดคาเฟ่ อาหารไทย อีสานบ้านเฮา
                </p>
            </div>
        </div>

        <div class="background"><img src="/img/BG1.jpg" alt=""></div>

        <div class="box-border">
            <div class="infomation">
                <div class="address"><i class="fas fa-home"></i><p>บ้านศิลา ถนนเลี่ยงเมืองขอนแก่น ตำบล ศิลา เมือง ขอนแก่น 40000</p></div>
                <div class="tel"><i class="fas fa-phone"></i><p>091 063 4589</p></div>
                <div class="email"><i class="fas fa-envelope"></i><p>J@gmail.com</p></div>
                <div class="line"><i class="fab fa-line"></i><p>จ้วดคาเฟ่</p></div>
                <div class="facebook"><i class="fab fa-facebook-f"></i><p>จ้วดคาเฟ่ ร้านอาหารบรรยากาศสุดชิล ขอนแก่น</p></div>
                <div class="open"><i class="fas fa-store"></i><p>เปิดทุกวัน 11.00-22.00 น</p></div>
            </div>
    
            <div class="form-Contact">
                <div class="title"><h2>ติดต่อสอบถาม</h2></div>

                <div class="input-box">
                    <div class="info">
                        <div class="input">
                            <label for="Fname">ชื่อ-สกุล : </label>
                            <input type="text" name="Fname" id="Fname">
                        </div>

                        <div class="input">
                            <label for="Lname">สกุล : </label>
                            <input type="text" name="Lname" id="Lname">
                        </div>

                        <div class="input">
                            <label for="Tel">เบอร์โทร : </label>
                            <input type="tel" name="Tel" id="Tel">
                        </div>

                        <div class="input">
                            <label for="line">Line ID : </label>
                            <input type="text" name="line" id="line">
                        </div>
                    </div>

                    <div class="topic">
                        <label for="topic">หัวข้อ : </label>
                        <input type="text" name="topic" id="topic">
                    </div>

                    <div class="detail">
                        <label for="">เนื้อหา : </label>
                        <textarea name="" id="" cols="30" rows="2"></textarea>
                    </div>
                </div>

                <div class="button-box">
                    <button id="clear"><i class="fas fa-trash-alt"></i><span>เคลียร์</span></button>
                    <button id="confirm"><i class="fas fa-paper-plane"></i><span>ส่ง</span></button>
                </div>
            </div>
        </div>
    </div>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d47199.71574832185!2d102.85478864428622!3d16.493062337305954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31228b45a80faac1%3A0x81aff64c2debc635!2z4LiI4LmJ4Lin4LiU4LiE4Liy4LmA4Lif4LmIIOC4o-C5ieC4suC4meC4reC4suC4q-C4suC4o-C4muC4o-C4o-C4ouC4suC4geC4suC4qOC4quC4uOC4lOC4iuC4tOC4pSDguILguK3guJnguYHguIHguYjguJk!5e0!3m2!1sth!2sth!4v1591001553875!5m2!1sth!2sth" width="100%" height="650" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

    <div class="contact">
        <div class="box-contact">
            <figure><img src="/img/logo/logo-01.svg" alt=""></figure>
            <div class="head"><h1>ติดต่อ จ้วดคาเฟ่</h1></div>
            <div class="text"><p>สามารถติดต่อร้านจ้วดคาเฟ่ได้ตามเบอร์โทร Line, facebook, twitter ด้านล่างนี้</p></div>
            <div class="tel"><span>โทร: 091-0634589</span></div>
            <div class="social">
                <a href=""><i class="fab fa-line"></i></a>
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer">
            <p>&copy; 2020 <a href="https://wynnsoft-solution.com">Wynnsoft Solution.com</a></p>
        </div>
    </footer>
    
    <script src="/plugin/OwlCarousel/dist/owl.carousel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="/plugin/selectMulti/jquery.multi-select.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/js/jaudApp.js?=v1.1.1"></script>
</body>
</html>