<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>จ้วดคาเฟ่ JaudCafe</title>
    <link rel="stylesheet" href="/css/jaudStyle.min.css?v=4.2.1">
    <link rel="stylesheet" href="/plugin/OwlCarousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/plugin/OwlCarousel/dist/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="/css/selectMulti.css">
    <link rel="stylesheet" href="/css/cssDisplayTable.min.css?v=2">
    <script src="/plugin/fontawesome/all.min.js"></script>
    <script src="/js/jquery/jquery-3.5.1.min.js"></script>
</head>
<body>
    <nav class="container">
        <!-- เมนูNavหัวเว็บ -->
        <div class="head-nav">
            <!-- เมนูด้านซ้ายเป็นโลโก้ -->
            <div class="left">
                <div class="logo">
                    <figure><img src="/img/logo/logo.png" alt=""></figure>
                </div>
            </div>

            <!-- เมนูด้านขวาเป็นเมนูและช่องค้นหาด้วยเบอร์ -->
            <div class="right">
                <div class="menu">
                    <ul>
                        <li><a href="" class="selected">หน้าแรก</a></li>
                        <li><a href="">แกลอรี่</a></li>
                        <li><a href="">ยืนยันการจอง</a></li>
                        <li><a href="">เกี่ยวกับเรา</a></li>
                        <li><a href="">ติดต่อเรา</a></li>
                        <li class="closemenu"><i class="fas fa-times"></i></li>

                        <div class="contact-nav">
                            <div class="tel"><span>โทร: 091-0634589</span></div>
                            <div class="social-icon">
                                <i class="fab fa-line"></i>
                                <i class="fab fa-facebook-f"></i>
                                <i class="fab fa-twitter"></i>
                            </div>
                        </div>
                    </ul>
                    <div class="bottomline"></div>
                </div>

                <div class="searchq">
                    <div class="box-search">
                        <input type="tel" maxlength="10" id="searchq" name="searchq" placeholder="ค้นหาการจองด้วย เบอร์">
                        <i class="fas fa-book-open"></i>
                    </div>
                </div>

                <div class="hamburger"><i class="fas fa-bars"></i></div>
            </div>

            <!-- เบอร์ติดต่อและโซเชียวด้านบนเมนู -->
            <div class="tel-social">
                <div class="tel"><span>โทร: 091-0634589</span></div>
                <div class="social">
                    <a href=""><i class="fab fa-line"></i></a>
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </nav>

    <header>
        <!-- สไลด์หัวเว็บ -->
        <div class="slideHead owl-carousel owl-theme owl-loaded">
            <img src="/img/slide1.jpg" alt="">
            <img src="/img/slide2.jpg" alt="">
            <img src="/img/slide3.jpg" alt="">
            <img src="/img/slide4.jpg" alt="">
            <img src="/img/slide5.jpg" alt="">
        </div>
    </header>

    <div class="gallary container">
        <div class="head-text">
            <div class="title"><h1>แกลอรี่</h1></div>
            <ul class="menu">
                <li><a href="">ทั้งหมด</a></li>
                <li><a href="">บรรยากาศ</a></li>
                <li><a href="">อาหาร</a></li>
                <li><a href="">รีวิวลูกค้า</a></li>
            </ul>
        </div>

        <div class="background"><img src="/img/BG1.jpg" alt=""></div>

        <div class="gallary-zone">
            <figure><img src="/img/m1.jpg" alt=""></figure>
            <figure><img src="/img/m2.jpg" alt=""></figure>
            <figure><img src="/img/m5.jpg" alt=""></figure>
            <figure><img src="/img/m3.jpg" alt=""></figure>
            <figure><img src="/img/m4.jpg" alt=""></figure>
            <figure><img src="/img/m3.jpg" alt=""></figure>
            <figure><img src="/img/m5.jpg" alt=""></figure>
            <figure><img src="/img/m6.jpg" alt=""></figure>
            <figure><img src="/img/m7.jpg" alt=""></figure>
            <figure><img src="/img/m8.jpg" alt=""></figure>
            <figure><img src="/img/m9.jpg" alt=""></figure>
            <figure><img src="/img/m10.jpg" alt=""></figure>
            <figure><img src="/img/m11.jpg" alt=""></figure>
            <figure><img src="/img/m12.jpg" alt=""></figure>
            <figure><img src="/img/m13.jpg" alt=""></figure>
            <figure><img src="/img/m16.jpg" alt=""></figure>
            <figure><img src="/img/m17.jpg" alt=""></figure>
            <figure><img src="/img/m6.jpg" alt=""></figure>
        </div>

        <div class="showpic">
            <div class="bigpic">
                <figure><img src="/img/m5.jpg" alt=""></figure>
                <div class="close">
                    <i class="fas fa-times"></i>
                </div>
            </div>
        </div>

        <div class="pagination">
            <ul>
                <li><a href=""><i class="fas fa-caret-left"></i></a></li>
                <li><a href="">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">4</a></li>
                <li><a href="">5</a></li>
                <li><a href=""><i class="fas fa-caret-right"></i></a></li>
            </ul>
        </div>
    </div>

    <div class="contact">
        <div class="box-contact">
            <figure><img src="/img/logo/logo-01.svg" alt=""></figure>
            <div class="head"><h1>ติดต่อ จ้วดคาเฟ่</h1></div>
            <div class="text"><p>สามารถติดต่อร้านจ้วดคาเฟ่ได้ตามเบอร์โทร Line, facebook, twitter ด้านล่างนี้</p></div>
            <div class="tel"><span>โทร: 091-0634589</span></div>
            <div class="social">
                <a href=""><i class="fab fa-line"></i></a>
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer">
            <p>&copy; 2020 <a href="https://wynnsoft-solution.com">Wynnsoft Solution.com</a></p>
        </div>
    </footer>
    
    <script src="/plugin/OwlCarousel/dist/owl.carousel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="/plugin/selectMulti/jquery.multi-select.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/js/jaudApp.js?=v1.1.1"></script>
</body>
</html>