<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>จ้วดคาเฟ่ JaudCafe</title>
    <link rel="stylesheet" href="/css/jaudStyle.min.css?v=4.2.1">
    <link rel="stylesheet" href="/plugin/OwlCarousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/plugin/OwlCarousel/dist/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="/css/selectMulti.css">
    <link rel="stylesheet" href="/css/cssDisplayTable.min.css?v=2">
    <script src="/plugin/fontawesome/all.min.js"></script>
    <script src="/js/jquery/jquery-3.5.1.min.js"></script>
</head>
<body>
    <nav class="container">
        <!-- เมนูNavหัวเว็บ -->
        <div class="head-nav">
            <!-- เมนูด้านซ้ายเป็นโลโก้ -->
            <div class="left">
                <div class="logo">
                    <figure><img src="/img/logo/logo.png" alt=""></figure>
                </div>
            </div>

            <!-- เมนูด้านขวาเป็นเมนูและช่องค้นหาด้วยเบอร์ -->
            <div class="right">
                <div class="menu">
                    <ul>
                        <li><a href="" class="selected">หน้าแรก</a></li>
                        <li><a href="">แกลอรี่</a></li>
                        <li><a href="">ยืนยันการจอง</a></li>
                        <li><a href="">เกี่ยวกับเรา</a></li>
                        <li><a href="">ติดต่อเรา</a></li>
                        <li class="closemenu"><i class="fas fa-times"></i></li>

                        <div class="contact-nav">
                            <div class="tel"><span>โทร: 091-0634589</span></div>
                            <div class="social-icon">
                                <i class="fab fa-line"></i>
                                <i class="fab fa-facebook-f"></i>
                                <i class="fab fa-twitter"></i>
                            </div>
                        </div>
                    </ul>
                    <div class="bottomline"></div>
                </div>

                <div class="searchq">
                    <div class="box-search">
                        <input type="tel" maxlength="10" id="searchq" name="searchq" placeholder="ค้นหาการจองด้วย เบอร์">
                        <i class="fas fa-book-open"></i>
                    </div>
                </div>

                <div class="hamburger"><i class="fas fa-bars"></i></div>
            </div>

            <!-- เบอร์ติดต่อและโซเชียวด้านบนเมนู -->
            <div class="tel-social">
                <div class="tel"><span>โทร: 091-0634589</span></div>
                <div class="social">
                    <a href=""><i class="fab fa-line"></i></a>
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </nav>

    <header>
        <!-- สไลด์หัวเว็บ -->
        <div class="slideHead owl-carousel owl-theme owl-loaded">
            <img src="/img/slide1.jpg" alt="">
            <img src="/img/slide2.jpg" alt="">
            <img src="/img/slide3.jpg" alt="">
            <img src="/img/slide4.jpg" alt="">
            <img src="/img/slide5.jpg" alt="">
        </div>
    </header>

    <div class="howto container">
        <div class="head-text">
            <div class="title"><h1>วิธีการจอง</h1></div>
            <div class="description">
                <p>
                    มาแซ่บนัวร์กันที่ครัวจ้วดคาเฟ่ อาหารไทย อีสานบ้านเฮา
                </p>
            </div>
        </div>

        <div class="background"><img src="/img/BG1.jpg" alt=""></div>

        <div class="content">
            <div class="ck">
                <p>
                    ร้านจ้วดคาเฟ่ ขอนแก่น ยินดีต้อนรับลูกค้าทุกท่าน ทางร้านเรามีทั้งซุ้มริมน้ำ และพื้นที่โซนเทอเรส 
                    เพื่อรองรับลูกค้าทุกท่าน นอกจากมีบรรยากาศดีๆที่เตรียมพร้อมให้กับลูกค้าแล้ว ในส่วนอาหารของทางร้านจ้วด 
                    ก็ยังมีหลากหลายให้ท่านได้เลือก ทางเราคัดสรรอาหารทั้งสดใหม่ในทุกๆวัน เพื่อให้ท่านได้ลิ้มรส 
                    ช่วงเย็นทางร้านจ้วดยังมีวงดนตรีสดเพื่ออรรถรสในการรับประทานอาหารและพักผ่อนของลูกค้า
                </p>
                <p>
                    ร้านจ้วดคาเฟ่ ขอนแก่น
                    ขั้นตอนการจองคิวซุ้มริมน้ำจ้วดคาเฟ่ ขอนแก่น
                    #ไม่มีค่าซุ้ม #ไม่มีค่าเข้านะครับ <br>
                    1.หากลูกค้ามาช่วงร้านเริ่มเปิดให้บริการ (11.00) ซุ้มไหนว่างสามารถเข้าซุ้มได้เลยไม่ต้องรับคิวนะครับ<br>
                    2.เมื่อซุ้มเต็มแล้ว ลูกค้าต้องมาสแกนคิวอาร์โคดรับคิวที่ซุ้มรับรอง (ซุ้มใหญ่กลางน้ำ) สามารถดูลำดับจำนวนคิวที่รอออนไลน์ได้<br>
                    3.เมื่อใกล้ถึงคิวลูกค้า ก็กลับมาที่ซุ้มรับรองเพื่อดูซุ้มที่ว่างเพื่อเข้าซุ้ม หากลูกค้าไม่อยู่ที่ร้านทางร้านขอข้ามสิทธิ์ไปคิวต่อไป แต่หากเมื่อลูกค้ากลับมาที่ร้านในช่วงไม่เกิน 20 นาที ลำดับคิวลูกค้าเมื่อมาถึงร้านเราจะให้เริ่มเป็นคิวแรกครับ #ลูกค้าสามารถรอบริเวณที่ทางร้านจัดไว้ให้ได้หรือออกไปทำธุระได้นะครับ
                    หรือจะโทรเข้ามาสอบถามจำนวนคิวก่อนมาได้ครับ<br>
                    ติดต่อ 091-0634589
                </p>
                <p>
                    ปล. สำหรับโซนอื่นๆ โซนคาเฟ่ (ทานอาหารได้ไม่ต้องจอง) โซนเทอเรส (เปิดตอนเย็นมีดนตรีสด) ไม่ต้องจองคิว
                    สามารถเลือกนั่งได้เลยนะครับ
                </p>
            </div>
        </div>
    
    </div>

    <footer>
        <div class="footer">
            <p>&copy; 2020 <a href="https://wynnsoft-solution.com">Wynnsoft Solution.com</a></p>
        </div>
    </footer>
    
    <script src="/plugin/OwlCarousel/dist/owl.carousel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="/plugin/selectMulti/jquery.multi-select.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/js/jaudApp.js?=v1.1.1"></script>
</body>
</html>